body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#color-picker {
  background-color: white;
  height: 540px;
  width: 585px;
  border: solid 1px #ccc;
  padding: 5px;
  margin: auto;
}

#color-input {
  height: 25px;
  font-size: 20px;
  width: 90px;
}

#color-label {
  height: 30px;
  width: 480px;
  border: 1px solid #ccc;
  font-size: 20px;
  text-align: center;
}

canvas:hover {
  cursor: crosshair;
}
